.collapse {
    width: 50%;
    border: 2px solid #32b3df;
    margin: 10px auto;
    padding: .5em 1em 1em 1em;
    margin-top: 100px;
    border-radius: .8em;
    &__title {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: .5em;
    }
    &__container {
        padding: 1em;
        border: 2px solid #EEE;
        border-radius: .5em;
        text-align: left;
        margin-bottom: 1em;
        .collapse__plusBox{
            width: 100%;
            font-size: 1.4em;
            font-weight: 600;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            .collapse__heading {
                font-weight: 600;
                line-height: 46px;
            }
            .collapse__iconPlus {
                width: 10px;
                height: .5em;
                padding: .5em 0;
                background: transparent;
                cursor: pointer;
                z-index: 1;
                border-right: 4px solid #32b3df;
                transition:all .2s ease-in-out;
                transition:border 1s ease-in-out;
                position: relative;
            }
        }
        .collapse__subHeading {
            color: #aaa;
            line-height: 34px;
            font-size: 1em;
            margin: 5px auto;
            display: none;
            transition: all .2s ease-in-out;
        }
        .collapse__text {
            font-size: 1em;
            color: #aaa;
            line-height: 22px;
            display: none;
            transition: all .5s ease-in-out;
        }
    }
}

// Configuração do Minus 
.collapse__iconPlus::after {
    display: inline-block;
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    background: #32b3df;
    left: -0.15em;
    top: .65em;
    transition: background 1s ease-in-out;
}

// Configuração quando o container receber click

.collapse__container.collapse__opened {
    animation: movingDown 1s forwards;
    .collapse__iconPlus {
        border: none;
    }
    .collapse__iconPlus::after {
        background: #F00;
        left: -.4em;
    }
    .collapse__subHeading, .collapse__text {
        display: block;
    }
    .collapse__heading {
        display: block;
        transition: background 2s ease-in-out;
    }
}

// Animação do accordion's box

@keyframes movingDown {
    from {
        
        transform: translateY(-30%, 0, 0);
        opacity: 0;
    }
    to {
        transform: translateY(30%, 0, 0);
        opacity: 1;
    }
}