.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    .slider__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid green;
        width: 70%;
        height: 100%;
        background: #EEE8;
        border-radius: 1em;
        position: relative;
        overflow-x: auto;
        @include tablet {
            width: 90%;
        }
        .slider-wrapper {
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            @include tablet {
                padding: 2em 2em 0 2em;
                flex-direction: row;
            }
            .slider__items {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 0 10px 20px 15px;
                background: white;
                @include tablet {
                    height: 470px;
                    width: 100%;
                }
                .slider__item {
                    &__img {
                        width: 80%;
                        margin: 40px auto;
                        line-height: 1.3;
                    }
                    &__text {
                        margin: 0 auto;
                        opacity: .6;
                    }
                    &__profission {
                        margin: 15px auto;
                        opacity: .6;
                    }
                }
            }
        }
    }
}
.slider .slider__box .slider-wrapper .hidden {
    display: none;
}

.point-box {
    display: flex;
    align-self: center;
    flex-direction: row;
    margin: 30px 0;
    .point{
        width: 8px;
        height: 8px;
        border: 2px solid gray;
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
    }
    .active{
        background: gray;
    }
}